




.cal-sans-regular {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
  }
  
  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
  }
  
  .text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
  .text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
  .text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }
  
  .card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  .feature-icon-small {
    width: 3rem;
    height: 3rem;
  }

  .fs-4 {
    font-family: "Cal Sans", sans-serif;
    font-weight: 300;
  }

  
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.lead a {
  color: #4a9c87;
}


h1{
    font-family: "Aoboshi One", serif;
    -webkit-text-stroke-width: 99%;
  -webkit-text-stroke-color: indianred;
 
}

#hanging-icons h2 {
  font-family: "Aoboshi One", serif;
  
}

#hanging-icons h3 {
  font-family: "Aoboshi One", serif;
}

#hanging-icons p {
  font-family: "Zain", sans-serif;
    font-weight: 300;
    font-size: 24px;
    font-style: normal;
}


.text-body-emphasis{
    color: #4a9c87 !important;
}

#button-top {
background-color: indianred;
}



#nav-link-inactive {
    color: #4a9c87 !important;
}

.nav-item{
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
   
}

.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 200;
    font-style: italic;
  }

  .kantumruy-pro {
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  
  #img-transparent-shadow{
    filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.15));
  }



  @media screen and (max-width: 1080px) {
    #flower, h1{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
  }
  

  .aoboshi-one-regular {
    font-family: "Aoboshi One", serif;
    font-weight: 400;
    font-style: normal;
  }
  

  .zain-extralight {
    font-family: "Zain", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .zain-light {
    font-family: "Zain", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .zain-regular {
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .zain-bold {
    font-family: "Zain", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .zain-extrabold {
    font-family: "Zain", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .zain-red {
    font-family: "Zain", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .zain-light-italic {
    font-family: "Zain", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .zain-regular-italic {
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  

  .lead {
    font-family: "Zain", sans-serif;
    font-weight: 300;
    font-size: 26px;
    font-style: normal;
    color: #484949;
  }

  #categories a {
    font-family: "Zain", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .btn-outline-secondary:hover a {
    
  color: whitesmoke !important
  }

  .btn-outline-secondary {
    
    --bs-btn-hover-bg: #2771b1;
  }


#heroBox{
  background-color: whitesmoke;
  text-decoration: none; /* no underline */
}

#heroBox a {
  text-decoration: none; /* no underline */
  color: #4a9c87 
}

#heroBox #categories:hover {
  
  color:whitesmoke !important;
}




  body {
    background-color: #f5ebdd;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%236ac05d' fill-opacity='0.17'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  


  #fontes {
    color: #5ca7f3;
  }

  #fontesH3 a {
    color: #5ca7f3;
  }

  #fontesicon {
    color: #5ca7f3;
  }

  #inspo {
    color: #f3935c;
  }

  #inspoH3 a{
    color: #f3935c;
  }

  #inspoicon {
    color: #f3935c !important
  }

  #ilustras{
    color: #f3c35c;
  }

  #ilustrasH3 a{
    color: #f3c35c;
  }

  #cores {
    color: #8CBD8C
  }

  #coresH3 a {
    color: #8CBD8C
  }

  #fotos {
    color: #99606E
  }

  #fotosH3 a {
    color: #99606E
  }

  #icones {
    color: #FF746C
  }

  #iconesH3 a {
    color: #FF746C
  }

  #footer {
    background-color: whitesmoke;
  }

  #footer i {
    margin: 6px;
  }


  a {
    color:#4a9c87;
    text-decoration: none;
  }

  .btn-outline-success {
    font-family: "Zain", sans-serif;
    font-weight: 300;
    font-size: 20px;
  }

  .btn-outline-success:hover {
    background-color: #4a9c87;
  }

  :root{
    --bs-secondary-bg-rgb: 224, 224, 224;
  }